*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  background-color: rgb(37, 3, 62);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center ;
  
}

.wrapper {
  border: 1px solid black;
  border-radius: 5px;
  width: 550px;
  max-height: 70em;
  background-color: white;
  padding: 50px;
  text-align: center;
}
.text{
  margin-bottom: 20px;
  color: rgb(37, 3, 62);
}
.author{
  margin-bottom: 20px;
  text-align: right;
  color: rgb(37, 3, 62);
}
.credits{
  color: aliceblue;
  margin-top: 10px;
}

.buttons{
  display: flex; 
  justify-content: space-between;
}
.new-quote{
  padding: 10px;
  background-color: rgb(37, 3, 62);
  border: none;
  color: white;
  border-radius: 3px;;
}
